<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.majiang.community.mapper.QuestionMapper">

    <insert id="create" parameterType="Question">
        insert into community.question (title, description, gmtCreate, gmtModified, creator, commentCount, viewCount, likeCount, tag) value (#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{commentCount},#{viewCount},#{likeCount},#{tag})
    </insert>

    <select id="selectAllQuestion" resultType="Question">
        select * from community.question
    </select>

</mapper>