body{
    background-color: #efefef;
}
.main{
    margin: 60px;
    background-color: whitesmoke;
}
.indexMain{
    margin: 27px 20% 30px;
    background-color: whitesmoke;
    height: -webkit-fill-available;
}
.indexAvatar{
    border-radius: 4px;
    width: 45px;
}
.publishbtn{
    float: right;
    margin-bottom: 30px;
    margin-right: 15px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.indexQuestionList{
    margin: 24px 24px 24px 5px;
}
.profileSection{
    margin-top: 35px;
}
.community-menu{
    color: #999;
    margin-bottom: 30px;
}
.question-replay{
    padding-top: 5px;
}
.question-btn{
    float: right;
    margin-right: 45px;
}