body{
    background-color: #efefef;
}
.main{
    margin: 60px 180px;
    background-color: whitesmoke;
}
.indexMain{
    margin: 27px 20% 30px;
    background-color: whitesmoke;
    height: -webkit-fill-available;
}
.indexAvatar{
    border-radius: 4px;
    width: 45px;
}
.publishbtn{
    float: right;
    margin-bottom: 30px;
    margin-right: 15px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.indexQuestionList{
    margin: 24px 24px 24px 5px;
}
.profileSection{
    margin-top: 35px;
}
.community-menu{
    color: #999;
    margin-bottom: 30px;
}
.question-replay{
    padding-top: 5px;
}
.question-btn{
    float: right;
    margin-right: 45px;
}

.question-title{
    margin-left: 11px;
}
.question-replayContent{
    margin-left: 55px;
    color: gray;
}
.menu{
    color: #999;
    margin-top: 10px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover{
    color: #499ef3;
}
.commentIcon{
    margin-top: 5px;
    color: #999;
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.commentIcon:hover{
    color: #499ef3;
}
.dateFormat{
    margin-top: 4px;
    float: right;
    color: #999;
}
.comments{
    margin-bottom: 15px;
}
.comments-comments{
    margin-top: 15px;
    border: 1px solid #eee;
    padding-top: 10px;
    border-radius: 5px;
}
.comments-btn{
    float: right;
    margin: 10px;
}
.question-tag{
    margin-right: 5px;
}
.publish-tag-tab{
    display: none;
    margin-top: 10px;
    border: 1px solid silver;
}
.publish-tag-label{
    padding: 10px;
}
.publish-tag-nav{
    padding: 5px;
}
.publish-tag-element{
    margin: 5px;
}
.publish-tag-glyphicon{
    margin: 2px;
}