<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 交流社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/community.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>

</head>
<body style="background-color: gainsboro">
    <div th:insert="common/common.html :: navbar"></div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
                <hr>
                <form action="/publish" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group">
                        <label for="title">问题标题(简单扼要):</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="问题标题..." th:value="${title}">
                    </div>
                    <div class="form-group">
                        <label for="title">问题补充（必填）:</label>
                        <textarea class="form-control" name="description" id="description" cols="30" rows="10" th:text="${description}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签:</label>
                        <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签,以/号隔开" autocomplete="off" th:value="${tag}" onclick="showSelectTags()">
                        <div id="select-tag" class="publish-tag-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">开发语言</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">平台框架</a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <span class=" label label-info " onclick="selectTag('Java')"><span class="glyphicon glyphicon-tags"></span>&nbsp;Java</span>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <span class=" label label-info " onclick="selectTag('Spring')"><span class="glyphicon glyphicon-tags"></span>&nbsp;Spring</span>
                                    <span class=" label label-info " onclick="selectTag('SpringMVC')"><span class="glyphicon glyphicon-tags"></span>&nbsp;SpringMVC</span>
                                    <span class=" label label-info " onclick="selectTag('SpringBoot')"><span class="glyphicon glyphicon-tags"></span>&nbsp;SpringBoot</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <span th:if="${error != null}" class="alert alert-danger" th:text="${error}"></span>
                    <button type="submit" class="btn btn-success publishbtn">发布</button>
                    <br>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                <br>
                · 问题标签：请用精简的语言描述您发布的问题，不超过25字
                <br>
                · 问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料
                <br>
                · 选择标签：选择一个人或者多个适合的标签，用/号隔开，每个标签不超过10个字
            </div>
        </div>
    </div>
</body>
</html>