<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${questionDTO.getTitle()} + ' - 交流社区'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/community.js}" type="application/javascript"></script>

</head>
<body style="background-color: gainsboro">
<div th:insert="common/common.html :: navbar"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><span th:text="${questionDTO.getTitle()}"></span></h3>
                <span class="text-desc">作者
                            <span th:text="${questionDTO.getUser().getName()}"></span>
                             |
                            <span th:text="${questionDTO.getViewCount() == null ? 0 : questionDTO.getViewCount()}"></span>
                            次浏览 |
                            <span th:text="${#dates.format(questionDTO.getGmtCreate(),'yyyy年MM月dd日HH时mm分')}"></span>
                            发布
                        </span>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${questionDTO.getDescription()}"></div>
                <br>
                <hr>
                <hr>
                <a th:if="${session.user != null && session.user.getId() == questionDTO.getCreator()}" class="community-menu" th:href="@{/publish/{updateQuestionId}(updateQuestionId = ${questionDTO.getId()})}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    编辑
                </a>
            </div>
            <!-- 回复 -->
            <h4 class="question-title"><span th:text="${questionDTO.getCommentCount()}"></span> 个回复</h4>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="commentDTO : ${commentDTOList}">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object indexAvatar" th:src="${commentDTO.getUser().getAvatarUrl()}" />
                        </a>
                    </div>
                    <div class="media-right" th:id="${'comment-body-'+commentDTO.getId()}">
                        <h5 class="media-middle question-replay" th:text="${commentDTO.getUser().getName()}"></h5>
                        <div th:text="${commentDTO.getContent()}">
                        </div>
                        <!-- 操作 -->
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-comment icon" aria-hidden="true" th:data-id="${commentDTO.getId()}" th:href="${'#comment-' + commentDTO.getId()}" data-toggle="collapse" aria-expanded="false" th:aria-controls="${'#comment-' + commentDTO.getId()}" onclick="collapseComments(this)"></span>
                            <span class="text-right" th:text="${#dates.format(commentDTO.getGmtCreate(),'yyyy年MM月dd日')}"></span>
                        </div>
                        <!-- 二级评论 -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse comments-comments " th:id="${'comment-'+ commentDTO.getId() }" >
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="commentDTO : ${commentDTOList}">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object indexAvatar" th:src="${commentDTO.getUser().getAvatarUrl()}" />
                                        </a>
                                    </div>
                                    <div class="media-right">
                                        <h5 class="media-middle question-replay" th:text="${commentDTO.getUser().getName()}"></h5>
                                        <div th:text="${commentDTO.getContent()}">
                                        </div>
                                        <!-- 操作 -->
                                        <div class="menu">
                                            <span class="text-right" th:text="${#dates.format(commentDTO.getGmtCreate(),'yyyy年MM月dd日')}"></span>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="评论一下" th:id="${'input-'+ commentDTO.getId() }">
                                <button type="button" class="btn btn-success comments-btn" onclick="comment(this)" th:data-id="${commentDTO.getId()}">评论</button>
                            </div>

                        </div>
                        <hr>
                    </div>
                </div>
            </div>



            <!-- 回复框 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <hr>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object indexAvatar" th:src="${questionDTO.getUser().getAvatarUrl()}" />
                        </a>
                    </div>
                    <div class="media-right">
                        <h5 class="media-middle question-replay" th:text="${questionDTO.getUser().getName()}"></h5>
                    </div>
                </div>
                <br>
                <input type="hidden" id="question_id" th:value="${questionDTO.getId()}">
                <textarea id="comment_content" class="form-control" rows="6"></textarea>
                <br>
                <button type="button" class="btn btn-success question-btn" onclick="post()">回复</button>

                <hr>
                <br>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object indexAvatar" th:src="${questionDTO.getUser().getAvatarUrl()}" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading" th:text="${questionDTO.getUser().getName()}"></h5>
                        <span class="text-desc">
                            <span th:text="${questionDTO.getUser().getBio()}"></span>
                        </span>
                    </div>
                </div>
            </div>
            <br>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>